<footer>
    <div class="footer-links">
      <a href="#" class="footer-link">Termos de Serviço</a>
      <a href="#" class="footer-link">Política de Privacidade</a>
      <a href="#" class="footer-link">Contato</a>
      <a href="#" class="footer-link">FAQ</a>
      <a href="#" class="footer-link">Sobre Nós</a>
    </div>
    
    <p class="copyright">
      © 2023 FutplayTV. Todos os direitos reservados.<br>
      Este site não hospeda nenhum vídeo, apenas indexa links disponíveis publicamente na internet.
    </p>
  </footer>