<header>
  <div class="header-left">
    <div class="menu-toggle">
      <i class="fas fa-bars" id="menu-icon"></i>
    </div>
    <div class="logo">
      FUTplay.TV
    </div>
  </div>
  
  <div class="user-area">
    <!-- Seus elementos de usuário aqui -->
  </div>
</header>